body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}
footer {
    background-color: #ade0ee;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}